
body {
    background-color:  #999;
    color: grey;
    font-size: 18px;
    width: 966px;
}

header, footer, nav {
  background-color: #eee;
  color: grey;
  text-align: center;
}
  
.section {
  background-color: #eee;
  float: left;
  text-align: center;
  width: 60%;
  height: 300px;
  }

.aside {
    background-color:  #eee;
    float: right;
    text-align: center;
    width: 38%; 
    height: 300px;
  }
 
  .clearfix::after{
  content: "";
  display: table;
  clear: both;
  }

  .article {
    background-color: #999;
    color: #eee;
    text-align: center;
    height: 70%;
    width: 90%;
  }
  

.h1 {
  background-color:  #eee;
  color: grey;
  text-align: center;
  height: 20%;
  width: 90%;
  }

  .p {
    background-color:  #eee;
    color: grey;
    text-align: center;
    height: 20%;
    width: 90%;
  }
